<h1>Delete airports!</h1>
<a href="/airport">Return to airport page</a>



    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Country</th>
                <th>Location</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in airports %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.code}}</td>
                    <td>{{i.country}}</td>
                    <td>{{i.location}}</td>
                    <td>
                        {{ form_start(form) }}
                        {{ form_row(form.save) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

